@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-Bold.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos.woff2') format('woff2'),
        url('fonts/Aptos/Aptos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('fonts/Aptos/AptosDisplay-Bold.woff2') format('woff2'),
        url('fonts/Aptos/AptosDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-BoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-BlackItalic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('fonts/Aptos/AptosDisplay-Italic.woff2') format('woff2'),
        url('fonts/Aptos/AptosDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('fonts/Aptos/AptosDisplay.woff2') format('woff2'),
        url('fonts/Aptos/AptosDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-Black.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Display';
    src: url('fonts/Aptos/AptosDisplay-BoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/AptosDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('fonts/Aptos/AptosMono-BoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/AptosMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('fonts/Aptos/Aptos-Narrow-Bold-Italic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Narrow-Bold-Italic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('fonts/Aptos/AptosSerif-Bold.woff2') format('woff2'),
        url('fonts/Aptos/AptosSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('fonts/Aptos/Aptos-Narrow-Italic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Narrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-Light.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('fonts/Aptos/AptosMono-Bold.woff2') format('woff2'),
        url('fonts/Aptos/AptosMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-ExtraBold.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('fonts/Aptos/AptosSerif-BoldItalic.woff2') format('woff2'),
        url('fonts/Aptos/AptosSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-LightItalic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('fonts/Aptos/Aptos-Narrow-Bold.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Narrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('fonts/Aptos/AptosMono.woff2') format('woff2'),
        url('fonts/Aptos/AptosMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('fonts/Aptos/AptosSerif-Regular.woff2') format('woff2'),
        url('fonts/Aptos/AptosSerif-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Mono';
    src: url('fonts/Aptos/AptosMono-Italic.woff2') format('woff2'),
        url('fonts/Aptos/AptosMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Narrow';
    src: url('fonts/Aptos/Aptos-Narrow.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Narrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos Serif';
    src: url('fonts/Aptos/AptosSerif-Italic.woff2') format('woff2'),
        url('fonts/Aptos/AptosSerif-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-SemiBold.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos-Italic.woff2') format('woff2'),
        url('fonts/Aptos/Aptos-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.Aptos {
    font-family: "Aptos", sans-serif;
}

/*============== Cormorant Garamond =======================*/

@font-face {
    font-family: 'CormorantGaramond-SemiBoldItalic';
    src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-Light';
    src: url('fonts/CormorantGaramond/CormorantGaramond-Light.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-LightItalic';
    src: url('fonts/CormorantGaramond/CormorantGaramond-LightItalic.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-BoldItalic';
    src: url('fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-MediumItalic';
    src: url('fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-Regular';
    src: url('fonts/CormorantGaramond/fonts/CormorantGaramond/CormorantGaramond-Regular.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-Medium';
    src: url('fonts/CormorantGaramond/CormorantGaramond-Medium.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-Bold';
    src: url('fonts/CormorantGaramond/CormorantGaramond-Bold.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'CormorantGaramond-Italic';
    src: url('fonts/CormorantGaramond/CormorantGaramond-Italic.woff2') format('woff2'),
        url('fonts/CormorantGaramond/CormorantGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

.CormorantGaramond-Medium {
  font-family: "CormorantGaramond-Medium", serif;
}

.CormorantGaramond-Bold {
  font-family: "CormorantGaramond-Bold", serif;
}


/*============== EB Garamond =======================*/

@font-face {
    font-family: 'EBGaramond-ExtraBoldItalic';
    src: url('fonts/EBGaramond/EBGaramond-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-Medium';
    src: url('fonts/EBGaramond/EBGaramond-Medium.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-Italic';
    src: url('fonts/EBGaramond/EBGaramond-Italic.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-ExtraBold';
    src: url('fonts/EBGaramond/EBGaramond-ExtraBold.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-BoldItalic';
    src: url('fonts/EBGaramond/EBGaramond-BoldItalic.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-Bold';
    src: url('fonts/EBGaramond/EBGaramond-Bold.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-MediumItalic';
    src: url('fonts/EBGaramond/EBGaramond-MediumItalic.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-SemiBoldItalic';
    src: url('fonts/EBGaramond/EBGaramond-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-SemiBold';
    src: url('fonts/EBGaramond/EBGaramond-SemiBold.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'EBGaramond-Regular';
    src: url('fonts/EBGaramond/EBGaramond-Regular.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.EBGaramond-Medium {
    font-family: "EBGaramond-Medium", sans-serif;
}
.EBGaramond-Bold {
    font-family: "EBGaramond-Bold", sans-serif;
}

.EBGaramond-SemiBold {
    font-family: "EBGaramond-SemiBold", sans-serif;
}

.EBGaramond-Regular {
    font-family: "EBGaramond-Regular", sans-serif;
}
