@font-face {
    font-family: 'Aptos';
    src: url('fonts/Aptos/Aptos.woff2') format('woff2'),
        url('fonts/Aptos/Aptos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.Aptos {
    font-family: "Aptos", sans-serif;
}

/*============== EB Garamond =======================*/

@font-face {
    font-family: 'EBGaramond-Medium';
    src: url('fonts/EBGaramond/EBGaramond-Medium.woff2') format('woff2'),
        url('fonts/EBGaramond/EBGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.EBGaramond-Medium {
    font-family: "EBGaramond-Medium", sans-serif;
}
