
@import url("fonts.css");

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 40px;
}

p {
    margin: 0;
}

*[contenteditable='true'] {
    padding: 5px;
    transition: all 0.5s ease;
    border-radius: 5px;
}

*[contenteditable='true']:hover {
    background: rgb(255, 237, 203);
    transition: all 0.5s ease;
}

*[contenteditable='true']:focus {
    background: rgb(253, 244, 227);
    transition: all 0.5s ease;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 190mm;
    /* A4 width */
    height: 130mm;
    /* Half of A4 height */
    max-height: 130mm;
    border: 1px solid transparent;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
/* PART 1 */
.card.part-1 {
    transform: rotate(-180deg);
}

.card.part-1 .image {
    text-align: center;
}

/* PART 2 */
.card.part-2 {
    justify-content: space-around;
}
.card.part-2 .text {
    text-align: left;
    font-size: 11px;
    margin: 0 150px;
}

/* PART 4 */
.card.part-4 .image {
    text-align: center;
    margin-bottom: 16px;
    display: block;
}

.card.part-4 .text {
    text-align: center;
    font-size: 20px;
    margin: 0 100px;
}

@media print {
    body {
        padding: 0px;
    }
}